# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Environment variables
.env
.env.*

# Node
node_modules/
frontend/node_modules/
dist/
frontend/dist/

# Dataset cache
ml-training/dataset/.cache/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Uploaded files
backend/uploads/*

# Large ML model files
*.pt
*.pth
*.onnx
*.h5
*.keras

# Logs
*.log

# OS
.DS_Store
Thumbs.db
# ML dataset
ml-training/dataset/train/
ml-training/dataset/test/
ml-training/dataset/valid/